.ss-btn {
    font-weight: 700;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: $btn-green;
    color: $text-white;
    border-radius: 10px;

    &--grey {
        background-color: $btn-gray;
    }
}
